<div class="recent-activities">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th>User</th>
                    <th>Action</th>
                    <th>Target</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                {% for activity in activities %}
                <tr>
                    <td>{{ activity.user.name }}</td>
                    <td>{{ activity.action }}</td>
                    <td>{{ activity.target }}</td>
                    <td>{{ activity.timestamp.strftime('%Y-%m-%d %H:%M') }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4" class="text-center">No recent activities</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>