SQLALCHEMY_DATABASE_URI=sqlite:///instance/app.db
DATABASE_URL=sqlite:///instance/app.db

SMTP_SERVER=mail.alghaithcompanies.group
SMTP_PORT=465
SMTP_EMAIL=hr@alghaithcompanies.group
SMTP_PASSWORD=your_smtp_password_here
COMPANY_EMAIL=hr@alghaithcompanies.group

SUPABASE_URL=https://bliazzxcvzypcqgdxmwj.supabase.co
SUPABASE_KEY=your_supabase_service_role_key_here
